.FormWrapper {
    border-radius: var(--border-radius);
    border-width: 2px 0;
    border-color: var(--light-color);
    border-style: solid;
    padding: .8rem 0;
    max-width: 1000px;
    margin: 0 auto;
    /* margin-bottom: 1rem; */
}

.Form {
    background-color: var(--light-color);
    border-radius: var(--border-radius);
    padding: 1rem;
    color: var(--dark-color);
}

@media (max-width: 500px) {

    .FormWrapper {
        flex-direction: column;
        width: 100%;
    }
    .Form {
        padding-inline: 0
    }
}