.NavbarWrapper {
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--dark-color);
    width: 100%;
    z-index: 100;
}

.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
    max-width: 1280px;
    margin: auto;
}

.Buttons {
    display: flex;
    gap: 1rem
}

@media (max-width: 500px) {
    .Navbar {
        width: 100vw;
    }
    .Navbar h2 {
        font-size: 1rem;
    }
    .Navbar button {
        font-size: .8rem;
    }
}