.Login {
    margin: 2rem auto;
    max-width: 600px;
    padding: 2rem;
}

@media (max-width: 500px) {
    
    .Login {
        /* margin-inline: 0; */
        width: 100vw;
        padding-inline: 0;
    }
}